* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1100px;
  background-color: rgb(255, 255, 255);
  font-family: arial, sans-serif;
  font-size: 13px;
  color: rgb(34, 34, 34);
}

/*
 *  HEADER
 */

header {
  width: 100%;
  background-color: rgb(250, 250, 250);
  border-bottom: rgb(235, 235, 235) solid 1px;
}

#upper-header {
  padding-top: 18px;
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  top: 4px;
  width: 150px;
  min-width: 150px;
}

.logo a img {
  padding: 0 10px 0 13px;
}

.search {
  width: 632px;
  min-width: 632px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.search:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.search-input {
  padding: 5px 9px 0 16px;
  height: 39px;
  width: 100%;
}

input {
  border: none;
  font-size: 16px;
  width: 100%;
  line-height: 34px;
  letter-spacing: -0.25px;
}

.search-icon {
  height: 44px;
  padding: 0 16px 0 8px;
  position: relative;
  top: -2px;
  width: 24px;
}

button {
  border: 0;
  background-color: transparent;
}

.account {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  width: 120px;
  min-width: 120px;
  padding: 0 30px 0 170px;
  margin-left: auto;
}

.srchico-child, .apps-icon, .notif-icon, .user-icon {
  text-decoration: none;
  display: inline;
}

.srchico-child, .apps-icon, .notif-icon {
  background-image: url("imgs/icons.png");
  background-size: 233px 43px;
}

.srchico-child {
  cursor: default;
  width: 24px;
  height: 24px;
  background-position-y: 34px;
  background-position-x: 23px;
  position: absolute;
}

.apps-icon {
  background-position-y: 40px;
  background-position-x: 86px;
  opacity: .55;
  width: 32px;
  height: 32px;
}

.apps-icon:hover {
  opacity: 1;
}

.notif-icon {
  background-position-y: 32px;
  background-position-x: 51.5px;
  background-color: rgba(0, 0, 0, .55);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.notif-icon:hover {
  background-color: rgba(0, 0, 0, 1);
}

.user-icon {
  width: 32px;
  height: 32px;
}

.usrico-child {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.usrico-child:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

nav {
  margin-left: 150px;
  margin-top: 26px;
  width: 632px;
  min-width: 632px;
  display: flex;
  justify-content: space-between;
}

.nav-left, .nav-right {
  display: flex;
  align-items: baseline;
}

.nav-left>div, .nav-right>div {
  padding: 0 16px 12px 16px;
}

.nav-all {
  border-bottom: rgb(26, 115, 232) solid 3px;
}

.nav-child {
  color: rgb(119, 119, 119);
  text-decoration: none;
}

.nav-child:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navall-child, .navall-child:hover {
  color: rgb(26, 115, 232);
  font-weight: bold;
}

/*
 *  MAIN - FEATURED
 */

main {
  width: 632px;
  min-width: 632px;
  margin-left: 150px;
}

.stats {
  display: block;
  margin: 0 16px;
  line-height: 43px;
  color: #808080;
}

#results {
  margin-top: 9px;
}

.featured {
  margin-bottom: 22px;
}

.featured-main {
  padding: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

h2 {
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  font-weight: bold;
  margin-bottom: 15px;
}

.ftrm-items {
  padding-left: 20px;
  line-height: 1.2;
}

li {
  margin-bottom: 4px;
  font-size: 16px;
}

.ftrm-more {
  margin-top: 12px;
  color: #777;
  font-size: 14px;
}

.website {
  margin: 21px 0 2px 0;
}

h1 {
  font-size: 18px;
  font-weight: 1.2;
  color: #1a0dab;
}

.url {
  font-size: 14px;
  line-height: 17px;
  color: #006621;
}

.link-hover {
  color: inherit;
  text-decoration: none;
}

.link-hover:hover {
  text-decoration: underline;
}

.featured-options {
  padding: 4px 16px 0px 8px;
  display: flex;
  justify-content: flex-end;
}

svg {
  fill: #9e9e9e;
  padding-right: 8px;
}

.svg-a {
  line-height: 16px;
  height: 16px;
  width: 16px;
}

.svg-b {
  line-height: 14px;
  height: 14px;
}

.ftxt {
  font-size: 12px;
  color: #777;
}

.ftro-about, .ftro-feed {
  display: flex;
  margin-left: 22px;
}

/*
 *  MAIN - REST
 */

.rest {
  margin: 0 16px;
}

p {
  line-height: 1.4;
  color: #545454;
}

.date {
  color: #808080;
}

.triangle-container {
  display: inline;
  position: relative;
}

.tri-link {
  padding: 6px;
}

.tri {
  border-color: #006621 transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  top: 30%;
  position: absolute;
}

.results-each {
  margin-bottom: 28px;
}
